-----BEGIN CERTIFICATE-----
MIIECTCCAvGgAwIBAgIUXTkqy6M4w7diCCQ63dU2mO/xbKgwDQYJKoZIhvcNAQEL
BQAwgZMxCzAJBgNVBAYTAlRXMQ8wDQYDVQQIDAZUYWlwZWkxDzANBgNVBAcMBnRh
aXBlaTERMA8GA1UECgwIbGVvNDEyNzExHTAbBgNVBAsMFGxlbzQxMjcxLW9wZW5z
c2wtc2V0MRIwEAYDVQQDDAlsb2NhbGhvc3QxHDAaBgkqhkiG9w0BCQEWDXRlc3RA
dGVzdC5jb20wHhcNMjQwOTEyMDU1ODM4WhcNMjQxMDEyMDU1ODM4WjCBkzELMAkG
A1UEBhMCVFcxDzANBgNVBAgMBlRhaXBlaTEPMA0GA1UEBwwGdGFpcGVpMREwDwYD
VQQKDAhsZW80MTI3MTEdMBsGA1UECwwUbGVvNDEyNzEtb3BlbnNzbC1zZXQxEjAQ
BgNVBAMMCWxvY2FsaG9zdDEcMBoGCSqGSIb3DQEJARYNdGVzdEB0ZXN0LmNvbTCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJZmi97pbyiPiKLbhcK0yAfs
r3t0c8Jo+Px5L6QFSRBl35ZsMKuXrbbut9huK5KNTXg0YOyYlAj1oaJSU9LKtRQr
PSX8XcxBmKYmeWWksGrMtsADfam85ogNBrGOL+KXat4w4oA7OR9LNz+mSWLl6vaY
594C7DHS2K9aGbEqkAlRfhxYlRlAXLMLQLs7/bnEieM5WwTUE6qe5q626Aya3NAT
D0u7ACOH/lI+NrkIrhYHnZfg1z2Tih7xcbJKDY2kwMQC4PXHYdp4Cv18VjtxceZ9
sOflHsZXRa6aXBt6o2ea0FaImythrHhxCVEAn/0IDCzzzVSPdveMjBzols4i44EC
AwEAAaNTMFEwHQYDVR0OBBYEFNwh91WnIhlB0BZXbLFBktfiEkAgMB8GA1UdIwQY
MBaAFNwh91WnIhlB0BZXbLFBktfiEkAgMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZI
hvcNAQELBQADggEBAGOKY6ZcNkQ74C3oCxAgMx96G6CtchwDT5R58Kp+4jgYqnSd
6eBYb40Bzq2/cg22HPahlaHsWNTC3DQi6i8hFtguDo88+4OgkGkZRpk2VpSOD+8M
N5vS0xVoanfymc/LGcs5tS+04cBno82w2RekcX48qR7xr6rt2Oe6/PSlrl3uSVDg
saAx5GTAE+6rjv6GEtpPMQq31iGnKNm09gfrGDPkS3qU2o05CErVUsgu5fW4PIAy
9dqcDH/K2HwLeG/nnhHNz57UTlRauq4jfSW18JxW9eJS77C16y9lWvnBVxBZS+2s
XqrvLqCCZHTRk7F4bAnKLkfLPjjRS8EaZdFFLEA=
-----END CERTIFICATE-----
